<% include /Git/Yelpcamp/views/Partials/header.ejs %>

	<div class="row text-center" style="display:flex; flex-wrap: wrap;">
		<div class="col-md-12">
			<% if(noMatch!= null){ %>
				<div class="alert alert-danger" role="alert">
			  		<%= noMatch %>
				</div>
			<% } %>
		</div>
	</div>

	<header class="jumbotron">
		<h1>Welcome to YelpCamp</h1>
		<h5 style="font-weight: normal;">View the best campsites from around the world</h5>
		<br>
		<p>
		<form action="/campgrounds" method="GET" class="form-inline">
			<div class="form-group">
				<input class="form-control" name="search" placeholder="Campground Search">
			</div>
			<div style="padding-left: 5px;" class="form-group">
				<button class="btn btn-primary"><i class="fas fa-search"></i></button>
			</div>
		</form>
		</p>
	</header>

	<div class="row text-center" style="display:flex; flex-wrap: wrap;">
		<% camps.forEach(function(camp){ %>
			<div class="col-md-3 col-sm-6" style="padding-bottom:25px;">
				<div class="card">
					<img id="cardimg" src="<%= camp.image %>">
					<div class="card-body">
						<h4 class="card-title"><%= camp.name %></h4>
						<a href="/campgrounds/<%= camp._id %>" class="btn btn-primary">More Info</a>
					</div>
				</div>
			</div>
		<% }); %>
	</div>

<% include /Git/Yelpcamp/views/Partials/footer.ejs %>